- model_class = Team
.page-header
  %h1= @team.name

.row-fluid
  .span6
    %table.table.table-bordered
      %thead
        %tr
          %th Name
          %th Nickname
          %th Avg points
          %th Avg fouls
      %tbody
        - @team.players.each do |player|
          %tr
            %td= link_to player.first_name, player_path(player)
            %td= player.nickname
            %td= 0
            %td= 0

.page-header
  %h3 Games

.row-fluid
  .span6
    - if @team.team_stats.present?
      %table.table.table-bordered
        %thead
          %tr
            %th Description
            %th Schedule
            %th Result
        %tbody
          - @team.team_stats.joins(:game).order(:schedule_id).each do |stats|
            - game = stats.game
            %tr
              %td= link_to "#{game.team_stats.first.team.name} vs #{game.team_stats.last.team.name}", game_path(game)
              %td= game.schedule.present? ? game.schedule.description : "Unscheduled"
              %td
    - else
      %p No games to display


.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), teams_path, :class => 'btn'
  - if user_signed_in?
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_team_path(@team), :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), team_path(@team), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
