.hero-unit
  %h1 3 ON 3 Tournament 2014
  %p Only one team will become legend.
%br
%br

.row-fluid
  .span6
    %h3= "Players With More Points"
    - @points.each do |p|
      %h5= p.nickname
  .span6
    %h3= "Players With More Fouls"
    - @fouls.each do |f|
      %h5= f.nickname

%br
%br

.row-fluid
  .span12
    %h3= "Stats"
    %table{border: 2}
      %tr
        %td{align: 'center'}
          %h5= "Team"
        %td{align: 'center'}
          %h5= "Won"
        %td{align: 'center'}
          %h5= "Lost"
        %td{align: 'center'}
          %h5= "Played"
      - @stats.each do |stat|
        %tr
          %td{align: 'center'}
            %h4= stat.name
          %td{align: 'center'}
            = stat.won
          %td{align: 'center'}
            = stat.lost
          %td{align: 'center'}
            = stat.total